/* #region ||||| UTILITIES RULES ||||| */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion ||||| UTILITIES RULES ||||| */


/* #region ||||| COMMON RULES ||||| */

body {
  background-color: rgb(65, 65, 65);
  height: 100vh;
}

/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| SLIDER ||||| */

.slider {
  width: 80%;
  height: 80%;
  margin: auto;

  .slides {
    width: 100%;
    height: 100%;

    img {
      max-width: 100%;
      object-fit: cover;
    }

    >img:not(.active) {
      display: none;
    }
  }

}

.preview {
  width: 70%;
  margin: auto;
  position: relative;

  button {
    background-color: rgba(255, 255, 255, 0.4);
    height: 30px;
  }

  img {
    width: 235px;
    height: 130px;
    object-fit: cover;
  }

  img:not(.active_preview) {
    filter: brightness(0.4);
  }

}



/* #endregion ||||| SLIDER ||||| */