/* #region ||||| UTILITIES RULES ||||| */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion ||||| UTILITIES RULES ||||| */


/* #region ||||| COMMON RULES ||||| */

body {
  background-color: rgb(65, 65, 65);
}

/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| SLIDER ||||| */

.mc_carousel {
  width: 80%;
  margin: 3rem auto;
  height: 70vh;

  .slider {
    flex-grow: 1;

    .slides {
      height: 100%;

      img {
        max-width: 100%;
        object-fit: cover;
      }

      >img:not(.active) {
        display: none;
      }
    }

  }

  .preview {

    height: 100%;
    position: relative;

    .controls {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);

      button {
        background-color: rgba(255, 255, 255, 0.4);
      }

    }

    img {
      width: 200px;
      height: calc(100% / 5);
      object-fit: cover;
    }

    img:not(.active_preview) {
      filter: brightness(0.4);
    }

  }

}

/* #endregion ||||| SLIDER ||||| */